<div class="container-fluid">
    <div class="row">
        <div class="col-12 imag">
           <img src="assets/1646233478tt.png"/> 
        </div>
    </div>
    </div>

<div class="container-fluid">
    <h1 class="text-center">Lounge Tops</h1>
    <div class="row">
<div class="card" style="width: 18rem;">
    <img src="assets/TTTP004110_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Locomotive</h5>
      <p class="card-text">Locomotive Men Black/Brown Round Neck Long Sleeve Tshirt</p>
      <h2><strong>{{499|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/TTTP004101_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Locomotive</h5>
      <p class="card-text">Locomotive Men White Round Neck Long Sleeve Tshirt</p>
      <h2><strong>{{399|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/TTTP004086_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Locomotive</h5>
      <p class="card-text">Locomotive Men Black/White Round Neck Short Sleeve Tshirt</p>
      <h2><strong>{{458|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
     </div>

     <div class="card" style="width: 18rem;">
        <img src="assets/TTTP004084_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men Green Printed Round Neck Short Sleeve Tshirt</p>
          <h2><strong>{{565|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
  </div>


  <div class="row">
    <div class="card" style="width: 18rem;">
        <img src="assets/TTTP004082_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men Navy Blue/White Casual Striped Round Neck Tshirt</p>
          <h2><strong>{{458|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="assets/TTTP004073_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men Black/White Casual Colourblocked Hooded Tshirt</p>
          <h2><strong>{{500|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="assets/TTTP004069_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men White/Navy Blue Casual Colourblocked Round Neck Tshirt</p>
          <h2><strong>{{600|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
         </div>
    
         <div class="card" style="width: 18rem;">
            <img src="assets/TTTP004055_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Locomotive</h5>
              <p class="card-text">Locomotive Men White Regular Fit Puffer Jacket</p>
              <h2><strong>{{650|currency:"INR"}}</strong></h2>
              <a href="#" class="btn btn-danger">Add to cart</a>
            </div>
          </div>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row">
          <div class="col coupan">
              <img src="assets/1644483997Ketch the CRAZY 1518 x148.jpg" width="100%"/>

          </div>

      </div>

  </div>


  <div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Night Suits</h1>
<div class="card" style="width: 18rem;">
    <img src="assets/TTCJ000001_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Locomotive</h5>
      <p class="card-text">Locomotive Men Light Olive Tailored Jacket</p>
      <h2><strong>{{430|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/TTCJ000006_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Locomotive</h5>
      <p class="card-text">Locomotive Men Black Denim Jacket</p>
      <h2><strong>{{450|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/TTCJ000012_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Highlander</h5>
      <p class="card-text">Highlander Men Black Padded Jacket</p>
      <h2><strong>{{460|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
     </div>

     <div class="card" style="width: 18rem;">
        <img src="assets/TTCM000011_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Highlander</h5>
          <p class="card-text">Highlander Men Black/Red Round Neck Short Sleeve Tshirt</p>
          <h2><strong>{{420|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
  </div>


  <div class="row">
    <div class="card" style="width: 18rem;">
        <img src="assets/TTSJ000006_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Locomotive Men Black/White Round Neck Short Sleeve Tshirt</p>
          <h2><strong>{{400|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="assets/TTSJ000014_2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men White/Orange Round Neck Short Sleeve Tshirt</p>
          <h2><strong>{{380|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="assets/TTSJ000042_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men White/Yellow Round Neck Short Sleeve Tshirt</p>
          <h2><strong>{{350|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
         </div>
    
         <div class="card" style="width: 18rem;">
            <img src="assets/TTSJ000050_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Locomotive</h5>
              <p class="card-text">Locomotive Men Jet Black Round Neck Short Sleeve Tshirt</p>
              <h2><strong>{{550|currency:"INR"}}</strong></h2>
              <a href="#" class="btn btn-danger">Add to cart</a>
            </div>
          </div>
      </div>
  </div>
