.card{
    float:left;
    margin: 24px;
}
.coupan{
    margin: 0;
    padding: 0;
}
.imag{
    width:100%;
    height:80vh;
    margin:0;
    padding:0;
}
.imag img{
    width: 100%;
    height: 100%;
}