<div class="container-fluid">
<div class="row">
    <div class="col-12 imag">
       <img src="assets/Indigo.jpg"/> 
    </div>
</div>
</div>

<div class="container">
<div class="row">
    <div class="col">
    <img src="assets/bg-12.webp" height="450px" class="mt-5 mb-5"/>
    </div>
    <div class="col">
        <h3 class="mt-5">About Emberlyn</h3>
        <h1>Meet Your Personal Style Editor</h1>
        <p>I love the look in a woman’s eyes when she knows she looks good. She walks with confidence and carries herself with a self-assured presence that puts others at ease and allows her to be fully present in the moment. It is much more than the clothes we wear.
            <br>
            <br> 
            Etiam sed hendrerit turpis, non commodo est. Suspendisse sed luctus mi. Praesent cursus orci a condimentum interdum. Morbi varius in risus dapibus.</p>
            <p>I love the look in a woman’s eyes when she knows she looks good. She walks with confidence and carries herself with a self-assured presence that puts others at ease and allows her to be fully present in the moment. It is much more than the clothes we wear.
                
                Etiam sed hendrerit turpis, non commodo est. Suspendisse sed luctus mi. Praesent cursus orci a condimentum interdum. Morbi varius in risus dapibus.</p>
        </div>
        </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="text-center text-danger">Benefits</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1 class="text-center">Change Your Style With Me</h1>
                </div>
            </div>

    

            <div class="container mt-5">
                <div class="row">
                    <div class="col">
                        <div class="row">
                          <div class="col text-center">
                              <img src="assets/Untitled-1.webp" alt="">
                          </div>
                          <div class="col">
                            <p>Highly trained certified personal stylist</p>
                          </div>
                        </div>
                    </div>
              
                    <div class="col ">
                      <div class="row">
                        <div class="col text-center">
                            <img src="assets/Untitled-1.webp" alt="">
                        </div>
                        <div class="col">
                          <p>All clients get the individual look and style</p>
                        </div>
                      </div>
                  </div>
              
                  <div class="col ">
                    <div class="row">
                      <div class="col text-center">
                          <img src="assets/Untitled-1.webp" alt="">
                      </div>
                      <div class="col ">
                        <p>I help people with issues of low confidence and self esteem</p>
                      </div>
                    </div>
                </div>
              
                <div class="col ">
                  <div class="row">
                    <div class="col text-center">
                        <img src="assets/Untitled-1.webp" alt="">
                    </div>
                    <div class="col">
                      <p>The very best and unique personal styling service</p>
                    </div>
                  </div>
              </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="row">
                          <div class="col text-center">
                              <img src="assets/Untitled-1.webp" alt="">
                          </div>
                          <div class="col">
                            <p>Experience with over 7,000 consultations</p>
                          </div>
                        </div>
                    </div>
              
                    <div class="col ">
                      <div class="row">
                        <div class="col text-center">
                            <img src="assets/Untitled-1.webp" alt="">
                        </div>
                        <div class="col">
                          <p>Award-winning Personal Stylist and Personal Shopper</p>
                        </div>
                      </div>
                  </div>
              
                  <div class="col ">
                    <div class="row">
                      <div class="col text-center">
                          <img src="assets/Untitled-1.webp" alt="">
                      </div>
                      <div class="col ">
                        <p>Fourteen years of experience in the fashion industry</p>
                      </div>
                    </div>
                </div>
              
                <div class="col ">
                  <div class="row">
                    <div class="col text-center">
                        <img src="assets/Untitled-1.webp" alt="">
                    </div>
                    <div class="col">
                      <p>Possibility to promote personal growth and achievement</p>
                    </div>
                  </div>
              </div>
                </div>
              </div>



         

               
                  
               
       

        <div class="container">
            <div class="row mt-4">
                <div class="col">
                    <h5 class="text-center text-danger">Dress Your Best</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1 class="text-center">Get Started With Your<br>
                        Own Stylist Today</h1>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                <p class="text-center"><img src="assets/Women's Clothing.jpg" style="width: 100%;"/></p>
                </div>

                <div class="col-md-4">
                    <p class="text-center"><img src="assets/Footwear & Accessories.jpg" style="width: 100%;"/></p>
                </div>

                <div class="col-md-4">
                    <p class="text-center"><img src="assets/Women's Jeans.jpg" style="width: 100%;"/></p>
                </div>

            </div>