<div class="container-fluid">
    <div class="row">
        <div class="col-12 imag">
           <img src="assets/f2c675ae-e1c7-4657-b987-b809f0f654121647579910620-Weekend-sale_DK.webp"/> 
        </div>
    </div>
    </div>

<div class="container-fluid">
    <h1 class="text-center">Ethnic Dresses</h1>
    <div class="row">
<div class="card" style="width: 18rem;">
    <img src="assets/VNa1001724_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Locomotive</h5>
      <p class="card-text">Locomotive Men Black/Brown Round Neck Long Sleeve Tshirt</p>
      <h2><strong>{{499|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/VNa1001722_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Locomotive</h5>
      <p class="card-text">Locomotive Men White Round Neck Long Sleeve Tshirt</p>
      <h2><strong>{{399|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/VNa1001708_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Locomotive</h5>
      <p class="card-text">Locomotive Men Black/White Round Neck Short Sleeve Tshirt</p>
      <h2><strong>{{458|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
     </div>

     <div class="card" style="width: 18rem;">
        <img src="assets/VNA1001547_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men Green Printed Round Neck Short Sleeve Tshirt</p>
          <h2><strong>{{565|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
  </div>


  <div class="row">
    <div class="card" style="width: 18rem;">
        <img src="assets/VNa1001142_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men Navy Blue/White Casual Striped Round Neck Tshirt</p>
          <h2><strong>{{458|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="assets/VNa1000402_2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men Black/White Casual Colourblocked Hooded Tshirt</p>
          <h2><strong>{{500|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="assets/VNa1000351_2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men White/Navy Blue Casual Colourblocked Round Neck Tshirt</p>
          <h2><strong>{{600|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
         </div>
    
         <div class="card" style="width: 18rem;">
            <img src="assets/VNa1000345_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Locomotive</h5>
              <p class="card-text">Locomotive Men White Regular Fit Puffer Jacket</p>
              <h2><strong>{{650|currency:"INR"}}</strong></h2>
              <a href="#" class="btn btn-danger">Add to cart</a>
            </div>
          </div>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row">
          <div class="col coupan">
              <img src="assets/1644483997Ketch the CRAZY 1518 x148.jpg" width="100%"/>

          </div>

      </div>

  </div>


  <div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Kurtas & Suits</h1>
<div class="card" style="width: 18rem;">
    <img src="assets/VNKU012127_2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Locomotive</h5>
      <p class="card-text">Locomotive Men Light Olive Tailored Jacket</p>
      <h2><strong>{{430|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/VNKU012109_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Locomotive</h5>
      <p class="card-text">Locomotive Men Black Denim Jacket</p>
      <h2><strong>{{450|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/VNKU012107_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Highlander</h5>
      <p class="card-text">Highlander Men Black Padded Jacket</p>
      <h2><strong>{{460|currency:"INR"}}</strong></h2>
      <a href="#" class="btn btn-danger">Add to cart</a>
    </div>
     </div>

     <div class="card" style="width: 18rem;">
        <img src="assets/VNKU012099_2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Highlander</h5>
          <p class="card-text">Highlander Men Black/Red Round Neck Short Sleeve Tshirt</p>
          <h2><strong>{{420|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
  </div>


  <div class="row">
    <div class="card" style="width: 18rem;">
        <img src="assets/VNKU006692_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Locomotive Men Black/White Round Neck Short Sleeve Tshirt</p>
          <h2><strong>{{400|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="assets/VNKU006672_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men White/Orange Round Neck Short Sleeve Tshirt</p>
          <h2><strong>{{380|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="assets/VNKU004392_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Locomotive</h5>
          <p class="card-text">Locomotive Men White/Yellow Round Neck Short Sleeve Tshirt</p>
          <h2><strong>{{350|currency:"INR"}}</strong></h2>
          <a href="#" class="btn btn-danger">Add to cart</a>
        </div>
         </div>
    
         <div class="card" style="width: 18rem;">
            <img src="assets/VNKU012043_3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Locomotive</h5>
              <p class="card-text">Locomotive Men Jet Black Round Neck Short Sleeve Tshirt</p>
              <h2><strong>{{550|currency:"INR"}}</strong></h2>
              <a href="#" class="btn btn-danger">Add to cart</a>
            </div>
          </div>
      </div>
  </div>
