<div class="card aa">
    <h5 class="card-header">Blog 1</h5>
    <div class="card-body">
      <img src="assets/1632466191-Screenshot (45).png" style="width: 300px; float: left; margin-right: 20px; " class="img"/>
      <h5 class="card-title">Gobi 65</h5>
      <p class="card-text">The nutrient value of a single medium-sized (regular) idli is: 35-39 calories, 2-3 grams of protein, 2-5 grams of dietary fibre and 6-10 grams of carbohydrates; 1-5 milligram of iron, and trace amounts of calcium,</p>
      <a href="https://www.foodkartonline.com" target="_blank" class="btn btn-danger">read more</a>
    </div>
  </div>
  <br/>
  <div class="card bb">
    <h5 class="card-header">Blog 2</h5>
    <div class="card-body">
      <img src="assets/1632462710-Screenshot (42).png" style="width: 300px; float: right; margin-right: 20px;" class="img"/>
      <h5 class="card-title">Paneer Dosa</h5>
      <p class="card-text">The nutrient value of a single medium-sized (regular) idli is: 35-39 calories, 2-3 grams of protein, 2-5 grams of dietary fibre and 6-10 grams of carbohydrates; 1-5 milligram of iron, and trace amounts of calcium,</p>
      <a href="#" target="_blank" class="btn btn-danger">read more</a>
    </div>
  </div>
  <br/>
  <div class="card cc">
    <h5 class="card-header">Blog 3</h5>
    <div class="card-body">
      <img src="assets/images (11).jpg" style="width: 300px; float: left; margin-right: 20px;" class="img"/>
      <h5 class="card-title">Masala Dosa</h5>
      <p class="card-text">The nutrient value of a single medium-sized (regular) idli is: 35-39 calories, 2-3 grams of protein, 2-5 grams of dietary fibre and 6-10 grams of carbohydrates; 1-5 milligram of iron, and trace amounts of calcium,</p>
      <a href="#" target="_blank" class="btn btn-danger">read more</a>
    </div>
  </div>
  <br/>
  <div class="card aa">
    <h5 class="card-header">Blog 4</h5>
    <div class="card-body">
      <img src="assets/1629964357-Screenshot (18).png" style="width: 300px; float: right; margin-right: 20px;" class="img"/>
      <h5 class="card-title">Chaumin</h5>
      <p class="card-text">The nutrient value of a single medium-sized (regular) idli is: 35-39 calories, 2-3 grams of protein, 2-5 grams of dietary fibre and 6-10 grams of carbohydrates; 1-5 milligram of iron, and trace amounts of calcium,</p>
      <a href="#" target="_blank" class="btn btn-danger">read more</a>
    </div>
  </div>
  <br/>
  <div class="card bb">
    <h5 class="card-header">Blog 5</h5>
    <div class="card-body">
      <img src="assets/images (9).jpg" style="width: 300px; float: left; margin-right: 20px;" class="img"/>
      <h5 class="card-title">Paratha</h5>
      <p class="card-text">The nutrient value of a single medium-sized (regular) idli is: 35-39 calories, 2-3 grams of protein, 2-5 grams of dietary fibre and 6-10 grams of carbohydrates; 1-5 milligram of iron, and trace amounts of calcium,</p>
      <a href="#" class="btn btn-danger">read more</a>
    </div>
  </div>
  <br/>
  <div class="card cc">
    <h5 class="card-header">Blog 6</h5>
    <div class="card-body">
      <img src="assets/1631172373-Screenshot (34).png" style="width: 300px; float: left; margin-right: 20px;" class="img"/>
      <h5 class="card-title">French fries</h5>
      <p class="card-text">The nutrient value of a single medium-sized (regular) idli is: 35-39 calories, 2-3 grams of protein, 2-5 grams of dietary fibre and 6-10 grams of carbohydrates; 1-5 milligram of iron, and trace amounts of calcium,</p>
      <a href="#" class="btn btn-danger">read more</a>
    </div>
  </div>
  <br/>
  